{% load static %}

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static "vitech/css/styles.css" %}">


    <title>Vitech</title>
</head>
<body>
    <header class="main-header-container">  
        <div class="header-main">
            <a href="#">
                <img class="img-logo" src="{% static 'img/vitech.png' %}">
            </a>
        </div>

        <div class="elementor-widget-container">
            <nav class="elementor-nav-menu--main">
                <ul class="elementor-nav-menu">
                    <li class="menu-item"><a href="#diferenciais">Diferenciais</a></li>
                    <li class="menu-item"><a href="#depoimentos">Depoimentos</a></li>
                    <li class="menu-item"><a href="#produtos">Produtos</a></li>
                    <li class="menu-item"><a href="#onde">Onde Estamos</a></li>
                </ul>
            </nav>
        </div>
    </header>


</body>
</html>